[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "site-lisp/company-lsp"]
	path = site-lisp/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
[submodule "site-lisp/eglot"]
	path = site-lisp/eglot
	url = https://github.com/joaotavora/eglot.git
