[submodule "site-lisp/undo-tree"]
	path = site-lisp/undo-tree
	url = https://github.com/emacsorphanage/undo-tree.git
[submodule "site-lisp/xah-fly-keys"]
	path = site-lisp/xah-fly-keys
	url = https://github.com/xahlee/xah-fly-keys.git
