recentf
abbrev_defs
auto-save-list/
eshell/*
!eshell/alias
TAGS
smex-items
history
server/server
ido.last
bookmarks
.session
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat
pyim/
transient/
emms/
*.stackdump
*.html
.mc-lists.el
.lsp-session-v1
anaconda-mode/
places
eln-cache/
